body {
    margin:0px;
    text-align: center;
    display:block;
    background: whitesmoke;
    background-size: 100% 100%;
    font-family: "Verdana", Helvetica,sans-serif;
    font-style: normal;
    letter-spacing: .05em;
    line-height: normal;
    color:  black;
}

/* Navigation bar */
nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
nav ul {
    list-style-type: none;
    color:  white;
    margin: 0px;
    display: inline-block;
}
nav ul:hover,
nav ul.router-link-active,
nav ul.router-link-exact-active {
    cursor: pointer;
    transition: 0.1s;
    text-shadow: 0px 4px 25px #FFFFFF; 
    color: #85DCBA;
}
nav ul.col.exact-active.active {
    text-shadow: 0px 4px 25px #FFFFFF; 
}
nav .playing {
    color: #85DCBA;
    text-align: right;
    margin-left: 250px;
}
nav .ljudspelare {
    height: 40px; 
    width: 50%; 
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    margin-right: 10px;
}
.fb {
    margin: 5px;
}
.fb:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}
.linkedin {
    margin: 5px;
}
.linkedin:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}
.rss {
    margin: 5px;
}
.rss:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}

/* Banner with logo */
.banner {
    height: 200px;
    display:inline-block;
    text-align: center;
    margin:0px auto;
    background-color: whitesmoke;
    color: black;
    background-size: 100% 100%;
}
h1 {
    color: black;
}

/* center */
.outerdiv {
    text-align: center;
    display: inline-block;
    flex-direction: column;
    width: 90%;
}
.innerdiv {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.vansterdiv {
    text-align: left;
    background-color: white;
    width: 50%;
    margin: 50px;
}
.hogerdiv {
    text-align: left;
    background-color: white;
    width: 50%;
    margin: 50px;
}

/* audioplayer */
audio {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -moz-user-focus: normal;
}

/* footer (bottom of page) */
footer {
    background: black;
    color: rgb(230, 230, 230);
    padding: 20px;
    width: 100%;
    text-align: center;
    display: inline-block;
    flex-direction: row;
}
footer ul {
    text-align: center;
    margin: 25px;
    display: inline-block;
}
footer ul li:hover {
      color: #85DCBA;
      cursor: pointer;
}

/* if page goes below 600px change to these settings */
  @media screen and (max-width: 600px) {   
    .innerdiv {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .banner {
        height: 100px;
    }
    .vansterdiv {
        text-align: left;
        width: 100%;
        margin: 0px;
    }
    .hogerdiv {
        text-align: left;
        width: 100%;
        margin: 0px;
    }

  }
