body {
    font-family: "Arial", Times, serif;
    background-color: skyblue;
}
.topnav {
    text-align: center;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}
nav ul:hover,
nav ul.router-link-active,
nav ul.router-link-exact-active {
  background-color: whitesmoke;
  cursor: pointer;
}

element {
    height: 40px;
    width: 66%;
}
audio {
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
audio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -moz-user-focus: normal;
}