body {
    margin:0px;
    text-align: center;
    display:block;
    background: whitesmoke;
    background-size: 100% 100%;
    font-family: "Verdana", Helvetica,sans-serif;
    font-style: normal;
    letter-spacing: .05em;
    line-height: normal;
    color:  black;
}

/* Navigation bar */
nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    transition: top 0.3s;
    
    
}
.navleft{
    display: flex;
}
nav ul {
    list-style-type: none;
    color:  white;
    margin: 0px;
    display: inline-block;
    background-color: black;
}
nav ul:hover,
nav ul.router-link-active,
nav ul.router-link-exact-active {
    cursor: pointer;
    transition: 0.3s;
    color: #85DCBA;

}
nav ul.col.exact-active.active {
    /* color: #85DCBA; */
}
.navright {
    display: flex;
    align-items: center;
}

nav .playing {
    color: white;
    margin: 10px;
}

nav .playingimg {
    height: 75px;
    width: 75px;
    margin: 10px;
}
nav .ljudspelare {
    width: 150px;
    margin: 10px; 
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}
.fb {
    margin: 5px;
}
.fb:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}
.linkedin {
    margin: 5px;
}
.linkedin:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}
.rss {
    margin: 5px;
}
.rss:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.1s;
}

/* Banner with logo */
.banner {
    height: 250px;
    display:inline-block;
    text-align: center;
    margin:0px auto;
    background-color: whitesmoke;
    color: black;
    background-size: 100% 100%;
}
h1 {
    color: black;
}

/* center */
.outerdiv {
    text-align: center;
    display: inline-block;
    flex-direction: column;
    width: 90%;
}
.innerdiv {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.vansterdiv {
    text-align: left;
    background-color: white;
    width: 50%;
    margin: 50px;
}
.hogerdiv {
    text-align: left;
    background-color: white;
    width: 50%;
    margin: 50px;
}

/* audioplayer */
audio {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -moz-user-focus: normal;
}

/* footer (bottom of page) */
footer {
    background: black;
    color: rgb(230, 230, 230);
    padding: 20px;
    width: 100%;
    text-align: center;
    display: inline-block;
    flex-direction: row;
}
footer ul {
    text-align: center;
    margin: 25px;
    display: inline-block;
}
footer ul li:hover {
      color: #85DCBA;
      cursor: pointer;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 230px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
  }
  
  .flex-container2 > div {
    background-color: #f1f1f1;
    width: 230px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .playbtn {
      width: 75px;
  }
  .playbtn:hover {
    cursor: pointer;
}

.p1 {
    background-image: url("https://static-cdn.sr.se/sida/images/132/2186745_512_512.jpg?preset=api-default-square");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.p1:hover {
    background: transparent url('../images/playbtn.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.p2 {
    background-image: url("https://static-cdn.sr.se/sida/images/163/2186754_512_512.jpg?preset=api-default-square");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.p3 {
    background-image: url("https://static-cdn.sr.se/sida/images/164/2186756_512_512.jpg?preset=api-default-square");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.p4 {
    background-image: url("https://static-cdn.sr.se/sida/images/212/2186768_512_512.jpg?preset=api-default-square");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}


/* if page goes below 600px change to these settings */
  @media screen and (max-width: 600px) {   
    .innerdiv {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .vansterdiv {
        text-align: left;
        width: 100%;
        margin: 0px;
    }
    .hogerdiv {
        text-align: left;
        width: 100%;
        margin: 0px;
    }

  }

  @media screen and (max-width: 850px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 130px;
    }
    .banner {
        margin-top: 50px;
    }
    .flex-container {
        flex-direction: column;
      }
  }
